:root {
  --gold: rgb(238, 105, 52);
  --primary: rgb(41, 113, 228);
  }

.hero-container {
  background: url("../../Images/Med-coast.jpg") center center/cover no-repeat;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1:hover {
  transform: scale(1.1);
  text-align: center;
  transition: 0.4s linear;
  background: linear-gradient(
    to right,
    hsl(64, 47%, 80%) 10%,
    rgb(163, 70, 34) 40%,
    rgba(255, 94, 0, 0.568) 60%,
    #fff 80%
  );
  background-size: 200% auto;
  color: #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-container > h1 {
  color: rgb(228, 250, 255);
  font-size: 80px;
  margin-top: -100px;
  transition: 0.5s ease;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btns {
  -webkit-box-shadow: 1px 1px 10px 0px var(--primary); 
  box-shadow: 1px 1px 10px 0px var(--primary); 
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 60px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 30px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
