.links {
  background: url("../../Images/links-bkgrd.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 4rem;
  color: white;
}

.links-title {
  color: rgb(228, 250, 255);
  padding-top: 35px;
  padding-bottom: 20px;
  font-size: 3.3rem;
  transition: 0.5s ease;
  text-align: center;
}

.links-title:hover{
    transform: scale(1.1);
    text-align: center;
    transition: 0.4s linear;
    background: linear-gradient(
      to right,
      rgb(228, 250, 255) 10%,
      rgb(56, 126, 255, 0.979) 40%,
      #fff 80%
    );
    background-size: 200% auto;
    color: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.links__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.links__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.links__items {
  margin-bottom: 24px;
}

.links__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.links__item:hover h5 {
  color: white;
  transition: all 0.2s linear;
  border-bottom: 3px solid white;
}

.links__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 3px 5px rgba(56, 126, 255, 0.979);
  -webkit-filter: drop-shadow(0 3px 5px rgba(56, 126, 255, 0.979));
  filter: drop-shadow(0 3px 5px rgba(56, 126, 255, 0.979));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.links__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.links__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.links__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.links__item__img:hover {
  transform: scale(1.1);
}

.links__item__info {
  padding: 20px 30px 30px;
}

.links__item__text {
  color: rgba(228, 250, 255, 0.733);
  font-size: 23px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .links__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .links__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .links__item {
    margin-bottom: 2rem;
  }
}
