* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Goldman, cursive;
}

//Landing Page css attributes
.lp-main-container {
  display: flex;
  align-content: center;
}
.lp-gif-container {
  display: flex;
  justify-content: center;
}
.lp-frenchy-gif {
  border: 2px solid aquamarine;
  height: 400px;
}
